
/* GLOBAL */

 /* FONTS */

html {
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
}
body {
    font-family: Montserrat;
    font-weight: 400;
    color : #FFFFFF;
    font-size: 12pt;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
}

/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 2em;
    margin:0;
    padding:0;
}
.top h1{
    padding-top: 2em;
}
h2{
    font-size: 1.5em;
}
p{
    font-size: 1em;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
    position:fixed;
    height: 3em;
    display:block;
    width: 100%;
    background: #2BB391;
    z-index:9;
    text-align:center;
    color: #ffffff;
    padding: 10px 0 0 0;
}

#header{
    top:0px;
}
#footer{
    bottom:0px;
}

/* Slides menu
* --------------------------------------- */
#slidesmenu li {
	display:inline-block;
	margin: 10px;
	color: #fff;
}
#slidesmenu li:active{
	color: #008077;
}
#slidesmenu li a{
	text-decoration:none;
	color: #fff;
}
#slidesmenu li:active a:hover{
	color: #008077;
}
#slidesmenu li::hover{
	background: rgba(255,255,255, 0.8);
    color: #008077;
}
#slidesmenu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#slidesmenu li:active a{
	color: #008077;
}
#slidesmenu{
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	padding: 0;
	margin:0;
}



/* Bottom menu
* --------------------------------------- */


#infoMenu {
    bottom: 80px;
}
#infoMenu li a {
    color: #fff;
    z-index: 999;
}

/* HEADER */

header{
    background-image: url(../includes/img/header.jpg);
}

/* SECTIONS */

.white>* {
    color:#2BB391;
}
.white::after {
    color:#2BB391;
}
#section3::after
{
vertical-align:top;
}
section3 {
    padding-top: 5em;
}

