
/* GLOBAL */

 /* FONTS */

html {
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
}
body {
    font-family: Montserrat;
    font-weight: 400;
    color : #FFFFFF;
    font-size: 11pt;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1em;
    padding-top: 1em;
}
p, ul, ol {
  margin: 0; }

/* Style for our header texts
* --------------------------------------- */
h1{
    font-size: 2em;
    margin:0;
    padding:0;
}
h1.title {
    font-size: 4em;
    padding-top: 4em;
}
h1.top {
    margin-top: 4em;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}
p{
    font-size: 0.8em;
    font-size: 12pt;
    
}
p.justify {
text-align: justify;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
p.info {
    line-height: 3em;
}

/* LIENS */


a{
	text-decoration:none;
	color: #fff;
    text-decoration: underline;
}
a:hover{
	color: #008077;
}
a:visited{
    
}


/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    padding-top: 5em;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
    position:fixed;
    height: 5em;
    display:block;
    width: 100%;
    background: rgba(43, 179, 145, 0.5);
    z-index:9;
    text-align:center;
    color: #ffffff;
    padding: 10px 0 0 0;
}

#header{
    top:0px;
}
#footer{
    bottom:0px;
}

/* Slides menu
* --------------------------------------- */

#menu li {
	display:inline-block;
	margin: 10px;
	color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    
}
#menu li.active{
	color: #008077;!important
    font-weight: 900;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: #008077;
    font-weight: 900;
}
#menu li:hover{
    color: #008077;    
}
#menu li.active a{
	display: block;
    color: #008077;
    font-weight: 900;
}
#menu{
	top:1em;
	left:0;
	height: 35px;
	width: 100%;
	padding: 0;
	margin:0;
}

/*Slidesmenu*/

#slidesmenu li {
	display:inline-block;
	margin: 10px;
	color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
}
#slidesmenu li.active{
	color: #008077;!important
}
#slidesmenu li a{
	text-decoration:none;
	color: #fff;
}
#slidesmenu li.active a:hover{
	color: #008077;
}
#slidesmenu li:hover{
    color: #008077;    
}
#slidesmenu li.active a{
	display: block;
    color: #008077;
}
#slidesmenu {
	top: 5em;
	left: 0;
	height: 35px;
	width: 100%;
	padding: 0;
	margin: 0;
    color: #2BB391;
    z-index: 70;
}

/* Whiteslidesmenu */ 

#whiteslidesmenu li {
	display: inline-block;
	margin: 10px;
    color: #2BB391;
    text-transform: uppercase;
    font-size: 1.2em;
}
#whiteslidesmenu li.active{
	color: #008077;
}
#whiteslidesmenu li a{
	text-decoration: none;
	 color: #2BB391;
}
#whiteslidesmenu li.active a:hover{
	color: #008077;
}
#whiteslidesmenu li:hover{
    color: #008077;
}
#whiteslidesmenu li.active a{
	display: block;
    color: #008077;
}
#whiteslidesmenu{
	top: 5em;
	left: 0;
	height: 35px;
	width: 100%;
	padding: 0;
	margin: 0;
    z-index: 70;
}
/* Bottom menu
* --------------------------------------- */


#infoMenu {
    bottom: 80px;
}
#infoMenu li a {
    color: #fff;
    z-index: 999;
}

/* HEADER */

header{
    background-image: url(../includes/img/profile1.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed
}
.icones {
    font-size: 3em; 
}
a.icones {
    padding: 2em;
    display: block;
}

/* SECTIONS */
.white{
    color:#2BB391;

}
.white>* {
    color:#2BB391;
}
.white:after {
    color:#2BB391;
}

.slide>*
{
vertical-align: top;
    padding-top: 1em;
}
#section3 {
    background-image: url(../includes/img/coccinelle2.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
}

#section3 {
    padding-top: 5em;
}
#section5 {
    background-image: url(../includes/img/paon.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
}
#section7 {
        background-image: url(../includes/img/profile.png) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #008077;
}
.fp-slides{height: 90%;}

/* GRILLE TITON TOOLKIT */
.grid {
    width: 90%;
    max-width: 100%;
    padding-left: 10%;
    padding-bottom: 15%
} 
.col {
    padding: 1.5em;
}



/* IMAGES */
img {
    width: 100%;
}
img.size-40 {
    width: 40%;
}
img.size-30 {
    width: 30%;
}
.portfolio img {
    width: 100%;
    position: relative;
}
img.inside{
    float: left;
    padding-right: 1em;
}
img.right {float: right;
padding-left: 1em;}
.fp-tableCell {
    vertical-align: middle;

}
img.left
{
    float: left;
}
img.arrow
{
    width: 40px;
}
img.progressbar{
    width: 100%;
    float: right;
    vertical-align: middle;
}
.middle {vertical-align: middle;}
#section2, #section4 {    padding-top: 10em;}
/* VIDEOS */

/* Le parent */
.videoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
/* L'enfant */
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/* PORTFOLIO */
.col .portfolio{
    padding: 0.5em;
}

/* Pfolio #1 */
 
.folio1 {
    width: 100%;
    height: 100%;
    margin: 10px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}
 
 
.folio1 .face {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
 
/* styling effects when hover takes effect */
 
.folio1 img {
    display: block;
    position: relative;
}
.folio1 h2 {
    position: relative;
    vertical-align: bottom;
}
 
.folio1 p {
    position: relative;
    text-align: center;
}
.folio1 a.icon {
    display: inline-block;
    text-decoration: none;
    border-radius: 25px; 
    text-transform: uppercase;
}
 
 /* if you want link hover over effects */ 
.folio1 a.icon:hover {
 
}
 
.folio1 img {
    transition: 0.5s; 
}
 
.folio1 .face{
    background-color: rgba(0, 128, 119, 0.8);
    opacity:0;
    transition: 500ms;
    vertical-align: middle;
}
.folio1 h2{
    opacity:0;
    background: transparent;
    transform: rotate(180deg) skew(100deg, 100deg);
    transition: 500ms;
}
.folio1 p {
    opacity:0;
    transform: rotate(180deg) skew(100deg, 100deg);
    transition: 500ms;
}
.folio1 a.icon {
    opacity:0;
    transform: translateY(100px);
    transition: 500ms;
    color: #fff;
}
.folio1 a.icon:visited {
    color: #fff;
}
 
/* Hover overs */
 
.folio1:hover .face { 
    opacity:1;
    transition-delay: 0s;
    cursor: pointer; 
    padding-top: 2em;
}                                                                          
.folio1:hover img {
    transition-delay: 0s;
}
.folio1:hover h2 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}
 
.folio1:hover p {
    opacity:1;
    transform: scale(1);
    transition-delay: 0.2s;
}
.folio1:hover a.icon {
    opacity:1;
    transform: translateY(0px);
    transition-delay: 0.3s;
}
.fp-scroller{
  overflow:hidden;
}

/* FORMULAIRE */

.form-container {
   background: #ffffff;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:2em;
   width:50%px;
    border: 0px solid #d6872d;
   }
.form-field {
   background: #2bb391;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   color: #ffffff;
   padding:8px;
   margin-bottom:20px;
   width:90%;
    border: 0px solid #d6872d;
}
.form-field:focus {
   background: #ffffff;
   color: #2bb391;
    border: 0px solid #d6872d;
   }
.form-container h2 {
   font-weight:bold;
   text-align:center;
    border: 0px solid #d6872d;
    }
.form-title {
   margin-bottom:10px;
   color: #2bb391;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   background: #2bb391;
   -webkit-border-radius: 21px;
   -moz-border-radius: 21px;
   border-radius: 21px;
   color: #ffffff;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
    border: 0px solid #d6872d;
   }
.submit-button:hover {
   text-shadow: #ffffff 0 1px 0;
   background: #ffffff;
border: 0px solid #d6872d;
   color: #2bb391;
   }
.submit-button:active {
   text-shadow: #04382b 0 1px 0;
   background: #2bb391;
   color: #ffffff;
    border: 0px solid #d6872d;
   }

